torch==2.3.0
torchvision
transformers==4.40.0
torchaudio==2.3.0
numpy
pandas
scikit-learn
matplotlib
seaborn
opencv-python
opencv-python-headless
Pillow
soundfile
torchcodec
tensorboard
tqdm
sagemaker==2.224.1
sagemaker-train
boto3==1.35.76
soundfile==0.12.1
openai-whisper
nvgpu==0.10.0
ffmpeg-python==0.2.0